
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: Black;
}

.background{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/bg3.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav{
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  height: 35px;
  width: 120px;
  margin-left: 40px;
}

nav ul{
  float: right;
  margin-right:60px ;
  
}

nav ul li{
  display: inline-block;
  padding: 9px 11px;
  text-transform: uppercase;   
}

nav ul li a{
  color:  #94bd6e;
  font-family: 'Genos', sans-serif;
  font-size: 20px;
}

nav ul li a:hover,
nav ul li a.active{
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s ease;
}

#abt-me{
  display: flex;
  max-height: 500px;
  width: 80%;
  margin-top: 12%;
  margin-left: 5%;
}

.me-img{
  max-height: 500px;
  max-width: 500px;
  text-align: left;
  margin-left:30px;
  padding:20px;
  margin-right: 50px;
  border: solid rgba(49, 141, 49, 0.441) 5px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px ;
}

.me{
  background-color: rgba(0, 0, 0, 0.497);
  max-height: 600px;
  max-width: 1000px;

}
.me-txt h2{
  text-align: center;
  font-family: 'Genos', monospace;
  font: weight 900px;
  font-size: 40px;
  color: #2f8619;

}
.me-txt{
  margin: 10px;
  margin-top: 15px ;
  text-align:left;
  color: #908cbf;
  font-size: 18px;
  font-family: serif;
  letter-spacing: 1.5px;
  line-height: 25px;
}

.me-txt span{
color: #ae658e;
font-weight: 24px;
}

.me-txt .tech{
list-style-type:square;
display: grid;
grid-template-columns: repeat(2, minmax(140px, 200px));
padding-left:15px ;
}

.me-txt a{
color: #ae658e;
text-decoration:underline;
}

.heading{
  font-family: 'Genos', monospace;
  letter-spacing: 3px;
  color: #2f8619;
  text-align: center;
  margin-top: 10%;
  font-size: 35px;
}

.cntct{
  display:flex;
  justify-content: space-around;
}

.frm{
  width: 50%;
  max-width: 500px;
  height: 80vh;
  margin-left: 5%;
}

form{
  max-height: 600px;
  max-width: 500px;
  text-align: left;
  margin-top: 50px;
  color: rgb(14, 107, 14);
  border: 4px solid green;
  border-radius: 20px;
  padding: 20px ;
}

.input{
  margin-bottom: 30px;
  position: relative;
}

input,textarea{
  width: 90%;
  padding: 20px;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  background: transparent;
  font-size: 5px;
}

label{
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  cursor:text;
  transition: 0.2s;
  color: #fff;
  font-family: 'Genos', monospace;
}

form button{
  padding: 10px;
  background: rgb(193, 177, 179);
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px;
  width: 90%;
  background-color: transparent;
  color: #fff;
  font-family: 'Genos',monospace;
}

form button:hover{
  background-color: rgba(165, 163, 163, 0.704);
  cursor: pointer;
}

input:focus~label{
  top:-35px;
  font-size: 15px;
}

.details{
  margin-top: 200px;
  color: #94bd6e;
  max-height: 40vh;
  width: 500px;
  text-align: center;
  border: #ffffff solid 1px;
  border-radius: 30px 0 30px 0;
  background-color: #4440409b;
}

.info{
  font-family: 'Genos',monospace ;
  letter-spacing: 2px;
  line-height: 30px;
  color: #908cbf;
  font-size: 20px;
  text-align: left;
  display: flex;
  padding: 20px;

}

.info span{
  font-size: 25px;
  color: #94bd6e;
}
.info .material-icons{
padding: 5px;
color: #94bd6e;
}

.details .socials{
  display: inline-flex;
}
.details .socials img{
  height: 34px;
  width: 39px;
  padding: 30px;
}

.details .socials img:hover{
  transition: all ease-in-out 0.3s;
}