
  @import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
}
/*background Image*/
.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.599), rgba(0, 0, 0, 0.599)), url(../images/bg3.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
 
/*Navigation Bar*/
nav{
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
  height: 35px;
  width: 120px;
  margin-left: 40px;
}

nav ul{
    float: right;
    margin-right:60px ;
    
}

nav ul li{
    display: inline-block;
    padding: 9px 11px;
    text-transform: uppercase;   
}

nav ul li a{
    color:  #2f8619;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a.active{
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s ease;
}

/*Responsive Hamburger Menu*/
.checkbtn{
  color: #908cbf;
  cursor: pointer;
  display: none;
}
.checkbtn span{
  font-size: 60px;
}
#check{
  display: none;
}
@media (max-width: 952px){
  nav .logo{
    margin-right: 40%;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 859px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/*Content*/
 .content{
    display: flex;
    justify-content: space-between;
    max-height: 700px;
    width: 100%;
    margin-top: 50px;  
 }

 .content .text{
  max-height: 500px;
  max-width: 600px;
  text-align: left;
  margin-top: 80px;
  margin-left:150px;
  color: #908cbf;
  font-family: 'Genos', sans-serif;
  line-height: 40px;
}

/*Main body paragraph*/
.content .h1{
  font-size: 50px;
}
 /*Typewriter Animation*/
 .wrapper{
    display: flex;
    width: 800px;
  }
  .wrapper .static-txt{
    color: #e8f6e7;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

  }
  .dynamic-txts li{
    list-style: none;
    color: #50c533;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #59a71e;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }

.content .text p{
    font-size: 25px;
}

.content .button{
    padding: 10px;
    margin: 25px;
    margin-left: 0;
    color:#50c533;
    border: solid 3px rgb(22, 22, 22);
    border-radius: 10px;
    font-size: 20px;
    font-family:'Genos', sans-serif;
    text-decoration-style: solid;
    cursor: pointer;
    background-color: black;

}
.content .button:hover{
    background-color: rgb(22, 22, 22);
    color:#fff;
    transition: all 0.5 ease-in;
}

.content .image{
    margin-top:0px;
    margin-right:80px;
    width: 30%;
}

.image img{
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
}

footer{
    background-color:#908cbfb3;
    min-width: 880px;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    color: #000;
    font-family: monospace;
    border-radius: 40px 40px 0 0;
}

.ftr .row-1{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ftr .row-1 img{
  width: 25px;
  height: 25px;
  padding: 12px;
  padding-bottom: 5px;
}
.ftr .row-2 {
  color: #000;
}
.ftr .row-2 ul{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.ftr .row-2 ul li{
display: inline-block;
padding: 9px 11px;
text-transform: uppercase;   
}

.ftr .row-2 ul li a{
  color: #103d05;
  text-decoration: underline;
}
.ftr .row-1 img:hover{
  transform: translateY(-10px);
}

/*Making the Website Responsive*/
@media (max-width:1246px) {
  footer{
    margin-top: 295px;
  }
  footer .ftr{
    margin: auto;
  }

}

@media (max-width: 1120px){
  .background{
    background-image: none;
  }
  .content{
    display: grid;
    max-height: 1500px;
  }

  .text{
    margin:0 0 0 0;
    width: 800px;
  }

  .content .image{
    width: 100%;
    justify-content: center;
    text-align: center;
    height:400px;
    width:100%;
    margin-top: 90px;
    
  }

  .content .image img{
    height:350px;
    width: 350px;
    padding: 10px;
  }
  
}

@media only screen and (max-width:912px){

  .content .text{
    margin-left:80px;
  } 

  .wrapper .dynamic-txts{
  
    width: 40%;
    margin-left: 130px;
    top:320px;
    left:80px;
  }

}
