
  @import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
  @import url('https://fonts.cdnfonts.com/css/cascadia-code');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
}
/*background Image*/
.background{
    background-image: url(../images/background.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
 
/*Navigation Bar*/
nav{
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
    height: 35px;
    width: 120px;
    margin-left: 40px;
}

nav ul{
    float: right;
    margin-right:60px ;
    
}

nav ul li{
    display: inline-block;
    padding: 9px 11px;
    text-transform: uppercase;   
}

nav ul li a{
    color:  #2f8619;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a.active{
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s ease;
}

/*Content*/
 .content{
    display: flex;
    justify-content: space-between;
    max-height: 700px;
    width: 100%;
    margin-top: 50px;
    
 }

 /*Typewriter Animation*/
 .wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: #e8f6e7;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #50c533;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #59a71e;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
.content .text{
    max-height: 500px;
    max-width: 500px;
    text-align: left;
    margin-top: 80px;
    margin-left:150px;
    color: #908cbf;
    font-family: 'Genos', sans-serif;
}

/*Main body paragraph*/
.content .h1{
    font-size: 50px;
}
.content .text p{
    font-size: 25px;
}

.content .button{
    padding: 10px;
    margin: 25px;
    margin-left: 0;
    color:#50c533;
    border: solid 3px rgb(22, 22, 22);
    border-radius: 10px;
    font-size: 20px;
    font-family:'Genos', sans-serif;
    text-decoration-style: solid;
    cursor: pointer;
    background-color: black;

}
.content .button:hover{
    background-color: rgb(22, 22, 22);
    color:#fff;
    transition: all 0.5 ease-in;
}

.content .image{
    margin-top:0px;
    margin-right:80px;
}

.image img{
    max-width: 1000px;
    width: 500px;
    max-height: 500px;
}

#abt-me{
    display: flex;
    max-height: 500px;
    width: 80%;
    margin-top: 180px;
    margin-left:30px;
}

.me-img{
    max-height: 500px;
    max-width: 500px;
    text-align: left;
    margin-left:30px;
    padding:20px;
    margin-right: 50px;
    border: solid rgba(49, 141, 49, 0.441) 5px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px ;
}

.me{
    background-color: rgb(0, 0, 0);
    max-height: 600px;
    max-width: 1000px;

}
.me-txt h2{
    text-align: center;
    font-family: 'Genos', monospace;
    font: weight 900px;
    font-size: 40px;
    color: #2f8619;

}
.me-txt{
    margin: 10px;
    margin-top: 15px ;
    text-align:left;
    color: #908cbf;
    font-size: 18px;
    font-family: serif;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.me-txt span{
  color: #ae658e;
  font-weight: 24px;
}

.me-txt .tech{
  list-style-type:square;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding-left:15px ;
}

.me-txt a{
  color: #ae658e;
  text-decoration:underline;
}

.ftr{
    background-color: rgba(48, 48, 48, 0.526);
    width: 100%;
    margin-bottom: 0;
    margin-top: 50px;
    text-align: center;

}

.ftr-col-2{
    text-align: center;
    padding: 20px;
    font-family: 'Cascadia Code';
    color:#2f8619;
    font-weight: 40px;
    font-size: 12px;
}
