
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: Black;
}

.background{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/background.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;

}

nav{
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  height: 35px;
  width: 120px;
  margin-left: 40px;
}

nav ul{
  float: right;
  margin-right:60px ;
  
}

nav ul li{
  display: inline-block;
  padding: 9px 11px;
  text-transform: uppercase;   
}

nav ul li a{
  color:  #94bd6e;
  font-family: 'Genos', sans-serif;
  font-size: 20px;
}

nav ul li a:hover,
nav ul li a.active{
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s ease;
}

.content h1{
  font-family: 'Cascadia Code', monospace;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.slider-cont{
  max-width: 700px;
  overflow: hidden;
  border: 3px solid #c9b3b3;
  box-shadow: #c9b3b3;
  height: 450px;
  margin: auto;
  margin-top: 80px;
}

.slides{
  width: 700px;
  display: flex;
  animation: slide 12s infinite;
}

.slides img{
  width: 700px;
  height: 450px;
  
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

.houses{
  display: grid;
}

/*Gryffindor*/
#houses-gryffindor{
  width: 50%;
  height: 50vh;
  border: solid 3px #e27373b4;
  border-right: 0px;
  border-left: 0px;
  border-radius: 20px ;
  margin-top: 150px;
  margin-left: 40px;
  padding: 10px;
} 

.g-content{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;

}

#houses-gryffindor .txt-gryffindor h3{
  text-align: center;
  color: #c7786a;
}

#houses-gryffindor .image-gryffindor{
  text-align: left;
  padding-top: 90px;

}
#houses-gryffindor .image-gryffindor img{
  height: 200px;
  width: 220px;
}

#houses-gryffindor .image-gryffindor img:hover{
  opacity: 50%;

}

#houses-gryffindor .txt-gryffindor{
  width: 80%;
  height: 200px;
  color: #c7786a;
  font-size: 20px;
  padding: 20px;
  font-family: serif;
  letter-spacing: .5px;
  text-align: justify;
}

/*Ravenclaw*/
#houses-ravenclaw{
  width: 50%;
  height: 50vh;
  border: solid 3px #5c8fe0b4;
  border-right: 0px;
  border-left: 0px;
  border-radius: 20px ;
  margin-top: 150px;
  margin-left:45%;
  padding: 10px;
} 

.r-content{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;

}

#houses-ravenclaw .txt-ravenclaw h3{
  text-align: center;
  color: #aac1d9;
}

#houses-ravenclaw .image-ravenclaw{
  text-align: left;
  padding-top: 90px;

}
#houses-ravenclaw .image-ravenclaw img{
  height: 200px;
  width: 220px;
}

#houses-ravenclaw .image-ravenclaw img:hover{
  opacity: 50%;

}

#houses-ravenclaw .txt-ravenclaw{
  width: 80%;
  height: 200px;
  color: #aac1d9;
  font-size: 20px;
  padding: 20px;
  font-family: serif;
  letter-spacing: .5px;
  text-align: justify;
}
