
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: Black;
}

.background{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/1.webp);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;

}

nav{
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  height: 35px;
  width: 120px;
  margin-left: 40px;
}

nav ul{
  float: right;
  margin-right:60px ;
  
}

nav ul li{
  display: inline-block;
  padding: 9px 11px;
  text-transform: uppercase;   
}

nav ul li a{
  color:  #94bd6e;
  font-family: 'Genos', sans-serif;
  font-size: 20px;
}

nav ul li a:hover,
nav ul li a.active{
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s ease;
}

.slider-cont{
  max-width: 700px;
  overflow: hidden;
  border: 10px solid #ffffff;
  height: 450px;
  margin: auto;
  margin-top: 100px;
}

.slides{
  width: 700px;
  display: flex;
  animation: slide 16s infinite;
}

.slides img{
  width: 700px;
  height: 450px;
  
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}
