
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: Black;
}

.background{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/background.png);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;

}

nav{
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  height: 35px;
  width: 120px;
  margin-left: 40px;
}

nav ul{
  float: right;
  margin-right:60px ;
  
}

nav ul li{
  display: inline-block;
  padding: 9px 11px;
  text-transform: uppercase;   
}

nav ul li a{
  color:  #94bd6e;
  font-family: 'Genos', sans-serif;
  font-size: 20px;
}

nav ul li a:hover,
nav ul li a.active{
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s ease;
}
.content{
  display: flex;
  justify-content: space-around;
  max-height: 500px;
  width: 100%;
  
}
.text{
  max-height: 500px;
  max-width: 500px;
  text-align: left;
  margin-top: 150px;
  margin-left:30px;
  color: rgb(14, 107, 14);
  font-family: 'Cascadia Code', sans-serif;
}

.text h1{
  font-size: 50px;
  
  color: #94bd6e;
}
.text p{
  font-size: 20px;
}

button{
  padding: 15px;
  margin: 15px;
  margin-left: 0;
  color:#fff;
  border: solid 3px rgb(14, 107, 14);
  border-radius: 15px;
  font-size: 20px;
  font-family:'Genos', sans-serif;
  text-decoration-style: solid;
  cursor: pointer;
  background-color: black;

}