
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
}
/*background Image*/
.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.599), rgba(0, 0, 0, 0.599)), url(../images/bg3.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
 
/*Navigation Bar*/
nav{
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
  height: 35px;
  width: 120px;
  margin-left: 40px;
}

nav ul{
    float: right;
    margin-right:60px ;
    
}

nav ul li{
    display: inline-block;
    padding: 9px 11px;
    text-transform: uppercase;   
}

nav ul li a{
    color:  #2f8619;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a.active{
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.checkbtn{
  color: #908cbf;
  cursor: pointer;
  display: none;
}
.checkbtn span{
  font-size: 60px;
}
#check{
  display: none;
}
@media (max-width: 952px){
  nav .logo{
    margin-right: 40%;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/*Content*/
.heading {
  display: flex;
  width: 80%;
  margin-top: 4%;
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.321);
  color: #94bd6e;
}


.heading-image{
  max-height: 500px;
  max-width: 500px;
  text-align: left;
  margin-left:30px;
  padding:20px;
  margin-right: 50px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px ;
}

.heading-image img{
  height: 300px;
  width: 300px;
}

.heading-text{
  text-align: center;
  font-size: 25px;
  font-family: 'Genos', monospace;
  line-height: 40px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 50px ;
}

.row{
  width: 1200px;
  background-color: #00000033;
  align-items: center;
  border:2px solid green;
  border-radius: 40px;
  border-top: 0;
  border-bottom: 0;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
}

.row h2{
  color: #94bd6e;
  text-align: center;
  padding: 10px;
  font-family: 'Genos';
  font-size: 30px;
}

.row h3{
  color: #908cbf;
  padding-top: 35px;
  font-size: 25px;
  font-family: 'Genos';
  line-height: 28px;
  text-align: center;
}
.row p{
  color: #af7c7c;
  padding-top: 35px;
  font-size: 25px;
  font-family: 'Genos';
  line-height: 28px;
  
}
.row p span{
  color: #908cbf;
}

.row-1 .images{
  display: flex;
  justify-content: space-evenly;
}

.row-1 .images img{
  padding: 20px;
  height: 350px;
  width: 550px;
}

.row a{
  color:#908cbf ;
  transition: all 0.4s ease-in;
}

.row a:hover{
  text-decoration: underline;
}

.row-2 .images{
  display: block;
  align-items: center;
  justify-content: space-around;
}
.row-2 .images img{
  padding: 20px;
  height: 350px;
  width: 550px;
}

.row-4 span{
  color: #908cbf;
  font-weight: 800;
}
.row-5 .images{
  display: flex;
  justify-content: space-evenly;
}
.row-5 .images img{
  padding: 20px;
  height: 350px;
  width: 550px;
}

/*footer*/
footer{
  background-color:#908cbf;
  min-width: 880px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: center;
  color: #000;
  font-family: monospace;
  border-radius: 40px 40px 0 0;
}

.ftr .row-1{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
width: 100%;
}
.ftr .row-1 img{
width: 25px;
height: 25px;
padding: 12px;
padding-bottom: 5px;
transition: all .25s ease-in;
}

.ftr .row-2 ul{
display: inline-flex;
justify-content: space-between;
align-items: center;
}
.ftr .row-2 ul li{
display: inline-block;
padding: 9px 11px;
text-transform: uppercase;   
}

.ftr .row-2 ul li a{
color: #103d05;
text-decoration: underline;
}
.ftr .row-1 img:hover{
transform: translateY(-10px);
}

/*Responsive */
  @media (max-width:1300px) {
    footer{
      margin-top: 50px;
    }
    footer .ftr{
      margin: auto;
    }
  
  }
